html,body{
    background-color: $color;
}

.container{
    display: block;
    margin: auto;
    @include media-min-md {
        max-width: 1024px;
    }
}

img{
    max-width: 100%;
}

.d-none-pc{
    @include media-min-sm{
        display: none;
    }
}
.d-none-mobile{
    @include media-max-sm{
        display: none;
    }
}

.d-none{
    display: none;
}